
* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color:rgb(219, 231, 231);
    text-align: center;
}

.header img {
    width: 100px;
    margin: auto;
    padding: 1em;
}

.titulo h1{
    background-color:rgb(202, 202, 202);
    color:rgb(70, 61, 124);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    letter-spacing: .4em;
    padding: .4em;
}

.espacio {
margin-top: 7%;
}

.card h2{
    background-color:rgb(202, 202, 202);
    color:rgb(70, 61, 124);
    font-weight: 600;
    font-size: 18px;
    padding: .3em 1em;
    letter-spacing: .4em;
}

.info{
    display: flex;
    padding: .5em 1em;
}

.card ul {
    padding:1em 2em;
}
.datos span {
    font-weight: 600;
    color: black;
    font-style: italic;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(55, 55, 100);
    color: white;
    font-weight: 600;
    padding: .3em;
}

.redes .bx {
    font-size: 25px;
    margin-left: .5em;
}